<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:replace="~{fragmentos/principal :: head}"></head>

<body>
	<header th:replace="~{fragmentos/principal :: header}"></header>

	<div class="container  py-4">

		<div class="card bg-light">
			<div class="card-header  bg-dark">
				<h3 class="text-white" th:text="${titulo}"></h3>
			</div>
			<div class="card-body">
				<h4 class="card-title">
					<a class="btn btn-info btn-sm" th:href="@{/libreria/usuarionuevo}">Crear Usuario</a>
				</h4>
				<table class="table table-hover table-striped table-sm table-bordered">
					<tr class="thead-dark">
						<th>Código</th>
						<th>Nombre</th>
						<th>Correo</th>
						<th>Teléfono</th>
						<th>Activo</th>
						<th colspan="4" style="text-align: center">Acciones</th>
					</tr>

					<tr th:each="usr : ${usuarios}">
						<td><a th:href="@{/biblioteca/usuarioconsultar/} + ${usr.id}"
								th:text="${#numbers.formatInteger(usr.id, 3)}"
								class="btn btn-outline-primary btn-sm"></a></td>

						<td th:text="${usr.nombre}+ ' ' + ${usr.apellidos}"></td>
						<td th:text="${usr.correo}"></td>
						<td th:text="${usr.telefono}"></td>
						<td>
							<span th:if="${usr.activo}">Activo</span>
							<span th:unless="${usr.activo}">Inactivo</span>
						</td>

						<td><a th:href="@{/biblioteca/prestamonuevo/} + ${usr.id}"
								class="btn btn-xs btn-outline-success">Prestamo</a></td>

						<td><a th:href="@{/biblioteca/usuarioconsultar/} + ${usr.id}"
								class="btn btn-xs btn-outline-info">Detalles</a></td>

						<td><a th:href="@{/biblioteca/usuariomodificar/} + ${usr.id}"
								class="btn btn-xs btn-outline-primary">Modificar</a></td>

						<td><a th:href="@{/biblioteca/usuarioeliminar/} + ${usr.id}"
								onclick="return confirm('Está seguro de elminar el Usuario ?')"
								class="btn btn-xs btn-outline-danger">Eliminar</a></td>


					</tr>

				</table>
				<nav th:replace="~{fragmentos/paginador :: pager}"></nav>
			</div>
		</div>
	</div>

	<footer th:replace="~{fragmentos/principal :: footer}"></footer>
</body>

</html>